<!DOCTYPE html>
<html>
<head>
    <title>Actualizar Producto</title>
</head>
<body>
    <h1>Actualizar Producto</h1>
    <form method="POST" action="/actualizar_producto?id={{ producto.id }}">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" value="{{ producto.nombre }}" required><br><br>
        <label for="precio">Precio:</label>
        <input type="text" id="precio" name="precio" value="{{ producto.precio }}" required><br><br>
        <input type="submit" value="Actualizar Producto">
    </form>
    <a href="/">Cancelar</a>
</body>
</html>

