$def with (productos)
<!DOCTYPE html>
<html>
<head>
    <title>Lista de Productos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Lista de Productos</h1>
        <a class="btn btn-primary mt-3" href="/insertar_producto">Insertar Producto</a>
        
        <table class="table mt-3">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                $for producto in productos:
                <tr>
                    <td>$producto.nombre</td>
                    <td>$producto.precio</td>
                </tr>
                $end
            </tbody>
        </table>
    </div>
</body>
</html>
